<footer id="sticky-footer" class="py-4 bg-dark text-white-50 text-white">
  <div class="container text-center">
    <small><%= link_to 'Checkout the code!', 'https://github.com/MCBarnard/Alpha-Blog', class: 'text-white' %></small>
  </div>
</footer>